<mat-nav-list>
  <div class="log py-4">
    <img src="https://techconative.com/images/site-navigation/TC_Logo_Horizontal_Black1.png" alt="Techconative">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  <mat-list>
    <a mat-list-item routerLink="home" routerLinkActive="list-item-active">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="dashboard" routerLinkActive="list-item-active">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
  </mat-list>
</mat-nav-list>
