:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 260px;
    background: #f1f1f1;
}
mat-drawer-container{
    height: 100%;
}

.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
}
.page__box {
    min-height: 36px;
    /* background: #1e293b; */
    margin: 0 -1rem;
    font-size: 1rem;
    font-weight: 500;
    color:#707070;
}
.page__box a{
    font-weight: 500;
    color:#707070;
}
.page__content {
    color: #707070;
    text-align: left;
    padding: 1rem 0;
}
.page__content-data {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.add__btn{
    background: #0d6efd;
    border: 2px solid #0d55c0;
    font-size: 14px;
    color: #fff;
    padding: 4px 1rem;

}
.add__btn a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 4px 1rem;
}
.divider{
    border-color: #707070;
    border-width: 2px;
    margin: 0;
}
